report_v*/
output*.json
*.csv
*.txt
*.pickle
*.pkl
.git/
.idea/
__pycache__/
*.html
*.json
!requirements.txt
ps_supplier/*.csv
ps_supplier/*.txt
ps_supplier/*.pickle
ps_supplier/*.pkl
!ps_supplier/csv.txt
Makefile
Dockerfile
docker-compose.yml
.jsonl
.tmp
